body {
    font-family: 'Roboto', sans-serif !important;
}
/*Login page*/
.login-bg {
    background: url('../images/login_bg.jpg');
    background-repeat: repeat;
    background-size: 100%;
}
.login-wrapper {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 13% auto 0;
    padding: 4% 3%;
    /*    width: 37%;*/
}
.signup-wrapper {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 5% auto 0;
    padding: 4% 3%;
}
/*input.form-control {
    margin: 0 auto;
    border: 1px solid #4e4e4e !important;
    line-height: 2 !important;
}*/
.form-group {
    position: relative;
}
.form-group label {
    font-size: 0.9em;
}
a.forgot-password {
    color: #cf4e17;
    font-size: 0.85em;
    letter-spacing: 0.5px;
}
.login-wrapper-submit, .signup-wrapper-submit {
    background-color: #ff590f !important;
    border-color: #ff590f !important;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 3% 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.login-wrapper .col-md-12 {
    padding: 0 !important;
}
.form-group span {
    padding: 0 !important;
}
.form-control:focus,
.form-control:active {
    border-color: #000 !important;
    box-shadow: none !important;
    font-weight: 100 !important;
    color: #000 !important;
}
.form-control-feedback {
    display: block;
    height: 45px;
    line-height: 45px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
    width: 34px;
    z-index: 2;
}
.has-error .help-block,
.has-error .form-control-feedback
{
    color: #b24d4b;
}
.has-success .form-control-feedback {
    color: #3c763d;
}
.has-error .form-control {
    border-color: #a94442 !important;
}
.has-success .form-control {
    border-color: #3c763d !important;
}
#service-seeker, #service-provider {
    display: none;
    padding: 0.5% 2.5%;
}
.input-field {
    margin-top: 1rem;
    position: relative;
}
.input-field label {
    color: #9e9e9e;
    cursor: text;
    font-size: 0.9em;
    left: 0.75rem;
    position: absolute;
    top: 0.8rem;
    transition: all 0.2s ease-out 0s;
}
input.form-control, select.form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: currentcolor currentcolor #bdbdbd;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    padding: 1%;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-size: 0.9em;
    color: #000;
    height: 2.5rem;
    margin: 0 0 15px;
    outline: medium none;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    display: inline;
}
div.has-success label{
    font-size: 0.8rem;
    transform: translateY(-140%);
}
.input-field label.active{
    width:100%;
}
input[type="text"]:focus:not([readonly]) {
    border-bottom: 1px solid red;
}
input[type="checkbox"] {
    width: auto !important;
    height: auto !important;
    display: inline-box !important;
}
input-field label.active {
    width: 100%;
}
.input-field label.active {
    font-size: 0.8rem;
    transform: translateY(-140%);
}
.form-group i[data-bv-icon-for="seeker"] {
    top: 15% !important;
}
.form-group i[data-bv-icon-for="provider"] {
    top: 70% !important;
}
#basic-info {
    display: none;
}
/*Login page*/

