html, body, html.footer-sticky, .footer-sticky body {
    height: 100%; }

body {
    color: #777;
    font-weight: 400;
    letter-spacing: 0em;
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px;
    line-height: 1.65714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
/*Login page*/
.login-bg {
    background: url('../images/login_bg.jpg');
    background-repeat: repeat;
    background-size: 100%;
}
.login-wrapper {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 13% auto 0;
    padding: 4% 3%;
    /*    width: 37%;*/
}
.signup-wrapper {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    height: auto;
    margin: 5% auto 0;
    padding: 4% 3%;
}
/*input.form-control {
    margin: 0 auto;
    border: 1px solid #4e4e4e !important;
    line-height: 2 !important;
}*/
.form-group {
    position: relative;
}
.form-group label {
    font-size: 0.9em;
}
a.forgot-password {
    color: #cf4e17;
    font-size: 0.85em;
    letter-spacing: 0.5px;
}
.login-wrapper-submit, .signup-wrapper-submit {
    background-color: #ff590f !important;
    border-color: #ff590f !important;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 3% 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.login-wrapper .col-md-12 {
    padding: 0 !important;
}
.form-group span {
    padding: 0 !important;
}
.form-control:focus,
.form-control:active {
    border-color: #000 !important;
    box-shadow: none !important;
    font-weight: 100 !important;
    color: #000 !important;
}
.form-control-feedback {
    display: block;
    height: 45px;
    line-height: 45px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 0;
    width: 34px;
    z-index: 2;
}
.has-error .help-block,
.has-error .form-control-feedback
{
    color: #b24d4b;
}
.has-success .form-control-feedback {
    color: #3c763d;
}
.has-error .form-control {
    border-color: #a94442 !important;
}
.has-success .form-control {
    border-color: #3c763d !important;
}
#service-seeker, #service-provider {
    display: none;
    padding: 0.5% 2.5%;
}
.input-field {
    margin-top: 1rem;
    position: relative;
}
.input-field label {
    color: #9e9e9e;
    cursor: text;
    font-size: 0.9em;
    left: 0.75rem;
    position: absolute;
    top: 0.8rem;
    transition: all 0.2s ease-out 0s;
}
.form-group input.form-control, .form-group select.form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: currentcolor currentcolor #bdbdbd;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    padding: 1%;
    box-shadow: none !important;
    border-radius: 0 !important;
    font-size: 0.9em;
    color: #000;
    height: 2.5rem;
    margin: 0 0 15px;
    outline: medium none;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
    display: inline;
}
div.has-success label{
    font-size: 0.8rem;
    transform: translateY(-140%);
}
.has-value {
    font-size: 0.8rem;
    transform: translateY(-140%);
}
/*div.has-feedback label{
    font-size: 0.8rem;
    transform: translateY(-140%);
}*/
.input-field label.active{
    width:100%;
}
input[type="text"]:focus:not([readonly]) {
    border-bottom: 1px solid red;
}
input[type="checkbox"] {
    width: auto !important;
    height: auto !important;
    display: inline-box !important;
}
input-field label.active {
    width: 100%;
}
.input-field label.active {
    font-size: 0.8rem;
    transform: translateY(-140%);
}
.form-group i[data-bv-icon-for="seeker"] {
    top: 15% !important;
}
.form-group i[data-bv-icon-for="provider"] {
    top: 70% !important;
}
.form-group small {
    font-size: 85%;
}
#basic-info {
    display: none;
}
/*Login page*/

/*Profile page*/
#imageModal .modal-dialog {
    left: -10%;
    top: 8%;
}
.modal-content {
    width: 80% !important;
}
.img-profile {
    height: 170px;
    width: 200px;
}
.edit-icons-name {
    background-color: #fc5e15;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    margin-left: 1%;
    padding: 5px 7px;
    position: absolute;
    top: -3%;
}
#nameModal .modal-dialog {
    left: 1%;
    top: 8%;
}
#pwdModal .modal-dialog {
    right: -20%;
    top: 8%;
}
.navbar-brand {
    padding-top: 1rem !important;
}

/*Profile page*/

/*custom css*/
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btnsection {
    text-align:right;
}
.iconbtn{
    border:solid 1px #ccc;
    border-radius:0 2px 2px 0;
    padding:3px 15px;
    font-size:11px;
}

.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: solid 1px #ccc;
    border-radius: 50%;
}

.container-radio:hover input ~ .checkmark {
    background-color: #ccc;
}

.container-radio input:checked ~ .checkmark {
    background-color: #fe590c ;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-radio input:checked ~ .checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}


.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}
.nav>li {
    position: relative;
    display: block;
}
.nav>li>a {
    position: relative;
    display: block;

}

ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

.tab .nav-tabs li.active > a {
    border: none;
    color: #fff;
    background: #FF007A;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.nav-tabs li:first-child a {
    border-radius: 5px 0 0 5px;
}
.tab .nav-tabs li a {
    color: #868686;
    background: #fff;
    border-radius: 0;
    font-size: 16px;
    margin-right: -1px;
    padding: 5.5px 65.4px;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.tab .nav-tabs{
    border-bottom:0px;
}
.tab .nav-tabs li{
    border-right:1px solid #ddd;
}
.tab .nav-tabs li:last-child{
    border-right:0px solid #ddd;
}
.tab .nav-tabs li:first-child a{
    border-left:1px solid #ddd;
}

.nav-tabs li:first-child a{
    border-radius: 5px 0 0 5px;
}
.nav-tabs li:last-child a{
    border-radius: 0 5px 5px 0;
    border-right:1px solid #d3d3d3;
}
.tab .nav-tabs li a:hover{
    background:#eee;
}
.tab .nav-tabs li a:hover:before{
    border-left: 15px solid #eee;
}
.tab .nav-tabs li.active a:after,
.tab .nav-tabs li a:after{
    content:"";
    border-left: 17px solid #e3e3e3;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    position: absolute;
    top: 0px;
    right: -17px;
    z-index:1;
}
.tab .nav-tabs li a:after{
    border-left: 17px solid #d3d3d3;
}
.tab .nav-tabs li.active a:before{
    border-left: 17px solid #e3e3e3;
}
.tab .nav-tabs li a:before{
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-left: 15px solid #fff;
    border-top: 15px solid rgba(0, 0, 0, 0);
    content: "";
    position: absolute;
    right: -15px;
    top: 2px;
    z-index: 2;
}
.tab .nav-tabs li.active > a,
.tab .nav-tabs > li.active > a:focus,
.tab .nav-tabs > li.active > a:hover {
    border: none;
    color:#fff;
    background:#e3e3e3;
    border-top:1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
}
.tab .nav-tabs li:last-child.active a:after,
.tab .nav-tabs li:last-child a:after{
    border: none;
}
.tab .nav-tabs li:last-child a:after,
.tab .nav-tabs li:last-child a:hover:before,
.tab .nav-tabs li:last-child.active a:before,
.tab .nav-tabs li:last-child a:before{
    border-left: none;
}
.tab .tab-content{
    padding:12px;
    color:#5a5c5d;
    margin-top:2%;
    font-size: 14px;
    border: 1px solid #fff;
}
.agreementform{
    padding:10px;
    margin-top:20px;
}

.addsection{
    border-left: 20px solid #ff590d;
    padding:2px;
    cursor:pointer;
}
.addsection:before { 
    content: "\f105";
    right: 4%;
    margin-top: 12%;
    font-family: 'FontAwesome';
    font-size:40px;
    color:#ff590d;
    position: absolute;   
}
.addsection_grey{
    border-left: 20px solid #999;
    padding:2px;
    cursor:pointer;
}
.addsection_grey:before {    
    content: "\f105";
    position: absolute;
    font-family: 'FontAwesome';
    font-size: 40px;
    color: #666;
    right: 4%;
    margin-top: 12%;
}

.details{
    margin:0;
    padding:0;
}
.details ul{
    list-style:none;
    padding:0;
    width:90%;	
    margin: auto;
    display: inline-block;
}
.details ul li{
    float:left;
    margin:1px;
}
.details ul li a{
    color:#666 !important;
}
.details ul li a:hover{
    color:#fe590c !important;
}
.footer-list-item li a{
    color:#666 !important;
}
.footer-list-item li a:hover{
    color:#fe590c !important;
}
.benifits-parallax{
    background:url(../images/bannerbg.jpg)60% 0 no-repeat fixed;
    color:#fff;	
    margin:0;
    padding:20px 0 20px 0;
    background-size:cover;

}
.benifitheading{
    background: linear-gradient(to right, #e86225,#7c7673,#e86225);
    margin-bottom:10px;

}
.benifitheading ul li{
    list-style:disc;
}

button, input, optgroup, select, textarea {
    /*    font-family: "Open Sans", sans-serif; */
}

button:focus {
    outline: 0 !important; }

a, .simple-hover img, button, .btn {
    transition: all 0.3s;
    -webkit-transition: all 0.3s; }

a {
    color: #4782d3;
    text-decoration: none; }
a:hover, a:focus {
    text-decoration: none;
    outline: 0 !important;
    color: #666; }

@media all and (max-width: 767px) {
    h1,
    .h1 {
        font-size: 2.35714286em;
        line-height: 1.36363636em; }
    h2,
    .h2 {
        font-size: 1.78571429em;
        line-height: 1.5em; }
    h3,
    .h3 {
        font-size: 1.35714286em;
        line-height: 1.85714286em; }
    .lead {
        font-size: 1.35714286em;
        line-height: 1.36842105em; } }

.blockquote-reverse {
    padding: 10px 15px; }

.tritary-font {
    /*    font-family: "Droid Serif", serif;*/
    font-weight: 400;
    font-style: italic; }

.base-font {
    /*    font-family: "Open Sans", sans-serif;*/
    font-weight: 300; }

.font300 {
    font-weight: 300 !important; }

.font400 {
    font-weight: 400 !important; }

.font700 {
    font-weight: 700 !important; }

small {
    font-size: 65%;
}
.font11{
    font-size:11px !important;
}
.font12{
    font-size:12px;
}
.border-radius-left{
    border-radius: 0 4px 4px 0;
}
.border-radius-right{
    border-radius: 4px 0 0 4px;
}
.contactdetails{
    border-bottom:1px solid #ced4da;
    margin-top:2px;
}
.label {
    display: inline-blcok;
    padding: 2px 5px;
    font-size: 13px; }
.label.label-default {
    background: #eee; }
.label.label-success {
    background: #5cb85c;
    color: #fff; }

.bg-faded {
    background-color: rgba(71, 130, 211, 0.03); 
}
.badge-default {
    background-color: #f8f8f8 !important;
    color: #888; }

.badge-primary {
    background: #4782d3 !important; }

.bg-primary {
    background: #4782d3 !important;
    border-color: #4782d3; }

.bg-success {
    background: #5cb85c !important;
    border-color: #5cb85c; }

.bg-warning {
    background: #f0ad4e;
    border-color: #f0ad4e; }

.bg-info {
    background-color: #5bc0de;
    border-color: #5bc0de; }

.bg-danger {
    background-color: #c9302c;
    border-color: #c9302c; }

.bg-dark {
    border-color: #141414 !important;
    background-color: #141414 !important; }

.bg-white {
    background: #fff; }

.text-primary {
    color: #4782d3 !important; }

.text-danger {
    color: #c9302c !important; }

.text-success {
    color: #5cb85c !important; }

.text-warning {
    color: #f0ad4e !important; }

.text-info {
    color: #5bc0de !important; }

.text-white {
    color: white !important; }

.text-dark {
    color: #222222 !important; }

.text-white-gray {
    color: rgba(255, 255, 255, 0.8) !important; }

.border-round {
    border-radius: 6px;
    -webkit-border-radius: 6px; }

.pos-relative {
    position: relative; }

.lead {
    font-weight: 400;
    color: #888888; }

strong, b {
    font-weight: 700; }

.fWidth {
    width: 100% !important; }

.oHidden {
    overflow: hidden !important; }

strong, b {
    font-weight: 700; }

.pt0 {
    padding-top: 0 !important; }

.pt10 {
    padding-top: 10px !important; }

.pt20 {
    padding-top: 20px !important; }

.pt30 {
    padding-top: 30px !important; }

.pt40 {
    padding-top: 40px !important; }

.pt50 {
    padding-top: 50px !important; }

.pt60 {
    padding-top: 60px !important; }

.pt70 {
    padding-top: 70px !important; }

.pt80 {
    padding-top: 80px !important; }

.pt90 {
    padding-top: 90px !important; }

.pt100 {
    padding-top: 100px !important; }

.pb0 {
    padding-bottom: 0 !important; }

.pb10 {
    padding-bottom: 10px !important; }

.pb15 {
    padding-bottom: 15px !important; }

.pb20 {
    padding-bottom: 20px !important; }

.pb30 {
    padding-bottom: 30px !important; }

.pb40 {
    padding-bottom: 40px !important; }

.pb50 {
    padding-bottom: 50px !important; }

.pb60 {
    padding-bottom: 60px !important; }

.pb70 {
    padding-bottom: 70px !important; }

.pb80 {
    padding-bottom: 80px !important; }

.pb90 {
    padding-bottom: 90px !important; }

.pb100 {
    padding-bottom: 100px !important; }

.mb0 {
    margin-bottom: 0 !important; }

.mb5 {
    margin-bottom: 5px !important; }

.mb10 {
    margin-bottom: 10px !important; }

.mb20 {
    margin-bottom: 20px !important; }

.mb30 {
    margin-bottom: 30px !important; }

.mb40 {
    margin-bottom: 40px !important; }

.mb50 {
    margin-bottom: 50px !important; }

.mb60 {
    margin-bottom: 60px !important; }

.mb70 {
    margin-bottom: 70px !important; }

.mb80 {
    margin-bottom: 80px !important; }

.mb90 {
    margin-bottom: 90px !important; }

.mb100 {
    margin-bottom: 100px !important; }

.mt5 {
    margin-top: 5px !important; }

.bg-default {
    background-color: rgba(71, 130, 211, 0.1) !important; }

.bg-gray {
    background-color: #fbfbfb; }

.border0-hor {
    border-left: 0 !important;
    border-right: 0 !important; }

@media (min-width: 992px) {
    .table-responsive {
        display: table; } }

.col-grid {
    padding: 10px 15px;
    background: #eee;
    border: 1px solid #fff; }

.list-icon li {
    position: relative;
    padding-left: 23px;
    margin-top: 5px;
    display: block;
    /*    font-family: "Montserrat", sans-serif; */
}
.list-icon li:before {
    content: "\e64c";
    font-family: 'themify';
    position: absolute;
    left: 0;
    top: 0;
    color: #4782d3; }

.icon-examples .icon-box {
    font-size: 14px;
    font-weight: 300; }
.icon-examples .icon-box span:before {
    margin-right: 15px;
    font-size: 25px;
    width: 40px;
    display: inline-block;
    vertical-align: middle;
    text-align: center; }

.contact-lead {
    color: rgba(255, 255, 255, 0.9);
    font-size: 20px;
    font-weight: 300; }
.contact-lead small {
    font-size: 50%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3); }

.parallax-overlay {
    position: relative;
    overflow: hidden; }
.parallax-overlay:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    /* background: rgba(0, 0, 0, 0.4);*/ }

.color-overlay:before {
    background: rgba(71, 130, 211, 0.8); }

.form-control:focus {
    box-shadow: none; }

/*
Preloader style
*/


/*
Buttons
*/
.form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    font-size: .8rem; }

.btn-radius-0{
    border-radius:0 !important;
}
.btn i {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle; }
.btn.btn-rounded {
    border-radius: 100px; }
.btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .3s; }
.btn:hover, .btn:focus {
    box-shadow: none;
    outline: 0 !important; }
.btn:hover:before, .btn:focus:before {
    transition: all .3s;
    z-index: -1; }
.btn.btn-link {
    border: 0px;
    padding: 0px !important; }
.btn.btn-sm {
    padding: 9px 20px 9px !important;
    font-size: .75rem; }
.btn.btn-lg {
    padding: 15px 40px 15px !important;
    font-size: 0.8rem !important; }
.btn.btn-link {
    color: #777;
    overflow: hidden;
    text-transform: capitalize; }
.btn.btn-link:after {
    font-family: 'themify';
    content: "\e649";
    margin-left: 5px;
    position: relative;
    top: 0;
    font-size: 10px;
    transition: all .3s;
    -webkit-transition: all .3s; }
.btn.btn-link:hover {
    text-decoration: none;
    color: #999; }
.btn.btn-link:hover:after {
    margin-top: -100px; }

.btn.btn-secondary {
    color: #212529; }
.btn.btn-secondary:hover {
    color: #fff; }

.btn-white {
    background-color: #fff;
    color: #333; }
/**fill buttons**/
.btn-primary, .btn-success, .btn-warning, .btn-danger, .btn-info, .btn-secondary, .btn-white, .btn-dark {
    box-shadow: 0 0.05em 0.1em rgba(0, 0, 0, 0.18);
    border: 0px; }
.btn-primary:hover, .btn-success:hover, .btn-warning:hover, .btn-danger:hover, .btn-info:hover, .btn-secondary:hover, .btn-white:hover, .btn-dark:hover {
    border: 0px;
    box-shadow: 0 0.05em 1em rgba(0, 0, 0, 0.18); }

.btn-orange{
    background-color:#ff5608 !important;
    color:#fff;
}
.btn-orange-fed{
    background-color:#ff702e !important;
    color:#fff;
    text-align:center;
}
.btn-orange:hover{
    background-color:#fe590c !important;
    color:#fff;

    text-align:center;
}

.btn-secondary {
    background: #bfbfbf;
    box-shadow: none; }
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    border: 0px;
    color: #fff;
    box-shadow: none; }

.btn-primary {
    background: #4782d3;
    color: #fff; }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #4782d3;
    color: #fff; }

.btn-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center; }
.btn-circle i {
    display: block;
    line-height: 80px;
    margin: 0 auto;
    font-size: 35px; }
.btn-circle .btn-primary i, .btn-circle .btn-success i, .btn-circle .btn-warning i, .btn-circle .btn-danger i, .btn-circle .btn-info i {
    color: #fff; }

.btn-dark {
    background: #141414;
    color: #fff; }
.btn-dark:hover, .btn-dark:focus, .btn-dark:active {
    background: #141414;
    color: #fff; }

.icon-sm-rounded {
    width: 32px;
    height: 32px;
    line-height: 32px;
    display: inline-block !important;
    text-align: center;
    border-radius: 50%;
    background: #4782d3;
    color: #fff; }

/****************



/*
Assan Header Style
*/
.navbar > .container {
    position: relative; }

.navbar-light.bg-faded {
    background: #fc5e15;
    border-bottom: 0px; }

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.7); }

.navbar-nav > li > .nav-link {
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: 13px;
    /*    font-family: "Montserrat", sans-serif; */
}

.navbar-nav > li .navbar-light .navbar-nav .nav-link:focus, .navbar-nav > li .navbar-light .navbar-nav .nav-link:hover {
    color: #4782d3; }

.navbar-nav > li.dropdown-full-width {
    position: static; }

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
    color: #4782d3; }

.navbar-toggler-right {
    position: absolute;
    right: 5rem;
    top: 0; }

.single-navbar .navbar-toggler-right {
    right: 0px; }

.navbar-toggler {
    border: 0px !important; }

.navbar-inverse .navbar-right-elements .list-inline > li > a {
    color: rgba(255, 255, 255, 0.5); }

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-right-elements .list-inline > li > a:hover {
    color: rgba(255, 255, 255, 0.75); }

.navbar-right-elements {
    float: none !important;
    position: absolute;
    top: 28px;
    right: 15px; }
.navbar-right-elements .list-inline {
    margin-bottom: 0px; }
.navbar-right-elements .list-inline > li > a {
    color: #999;
    padding: .3rem .3rem;
    display: block;
    position: relative;
    top: -2px; }
.navbar-right-elements .list-inline > li > a i {
    display: block; }
.navbar-right-elements .list-inline > li > a .badge {
    position: absolute;
    top: -10px;
    right: -5px;
    font-weight: 300;
    font-size: 11px;
    padding: 0px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    -webkit-border-radius: 50%; }

.search-inline {
    width: 100%;
    left: 0;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
    height: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    z-index: 9; }
.search-inline.search-visible {
    opacity: 1;
    visibility: visible;
    animation: fadeInDown 0.3s ease-out forwards; }
.search-inline button[type="submit"] {
    position: absolute;
    right: 52px;
    top: 0;
    background-color: transparent;
    border: 0px;
    top: 0;
    right: 80px;
    padding: 0px;
    cursor: pointer;
    width: 80px;
    height: 100%;
    background: #222;
    color: #fff; }
.search-inline .form-control {
    border: 0px;
    padding-left: 0;
    font-size: 2rem;
    position: absolute;
    left: 1%;
    top: 0;
    height: 100%;
    width: 99%;
    /*    font-family: "Montserrat", sans-serif;*/
    font-weight: 700; }
.search-inline .search-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #999;
    width: 80px;
    height: 100%;
    text-align: center;
    display: table; }
.search-inline .search-close i {
    display: table-cell;
    vertical-align: middle; }

.navbar-brand {
    position: relative; }

/**canvas header**/


/***********Header dark**************/
/**header transparent and semi transparent**/
@media (min-width: 992px) {
    .navbar {
        padding: 0rem 1rem; }
    .navbar-expand-lg .navbar-nav .dropdown-menu.dropdown-mega-fw {
        left: 0; }
    .navbar-light.navbar-transparent .navbar-brand {
        top: 0px; }
    li.nav-item.nav-button {
        /*        position: relative;*/
        top: 13px; }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .9rem;
        padding-left: .9rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem; }
    .navbar-nav {
        margin-right: -15px; }
    /*    .navbar-nav {
            margin-right: 65px; }*/
    .single-navbar .navbar-nav {
        margin-right: 0px; }
    .navbar.navbar-transparent {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 99; }
    .navbar.navbar-transparent.navbar-light.bg-faded {
        background: transparent;
        border: 0px; }
    .navbar.navbar-transparent.navbar-light.bg-faded .nav-link {
        color: #fff; 
    }
    .navbar.navbar-transparent.navbar-light.bg-faded .nav-link:hover {
        color: white; }
    .navbar.navbar-transparent.navbar-light.bg-faded .active .nav-link, .navbar.navbar-transparent.navbar-light.bg-faded .show .nav-link {
        color: white; }
    .navbar.navbar-transparent.navbar-light.bg-faded.navbar-semi-transparent {
        background-color: rgba(255, 255, 255, 0.1); }
    .navbar.navbar-transparent.navbar-dark.bg-dark {
        background: transparent !important;
        border: 0px; }
    .navbar.navbar-transparent.navbar-dark.bg-dark .nav-link, .navbar.navbar-transparent.navbar-dark.bg-dark .navbar-right-elements .list-inline > li > a {
        color: rgba(0, 0, 0, 0.7); }
    .navbar.navbar-transparent.navbar-dark.bg-dark .nav-link:hover, .navbar.navbar-transparent.navbar-dark.bg-dark .navbar-right-elements .list-inline > li > a:hover {
        color: #4782d3; }
    .navbar.navbar-transparent.navbar-dark.bg-dark .nav-item.active .nav-link, .navbar.navbar-transparent.navbar-dark.bg-dark .nav-item .nav-link.active {
        color: #4782d3 !important; }
    .navbar.navbar-transparent .dropdown-menu {
        border-top-color: #4782d3; }
    .navbar.navbar-transparent .search-inline .form-control {
        padding-left: .75rem; }
    .navbar.navbar-transparent .navbar-right-elements .list-inline > li > a {
        color: rgba(255, 255, 255, 0.7); }
    .navbar.navbar-transparent .navbar-right-elements .list-inline > li > a:hover {
        color: white; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top .active .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top .nav-item.show .nav-link {
        color: #fff !important; }
    /**header sticky**/
    .navbar.navbar-transparent.nav-sticky .navbar-brand .logo {
        position: absolute;
        top: -10px; }
    .navbar.navbar-transparent.nav-sticky .navbar-brand .logo.logo-dark {
        opacity: 0; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded {
        background-color: #fe590c;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        animation: fadeInDown 0.3s ease-out forwards; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-brand .logo.logo-dark {
        opacity: 1; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-brand .logo.logo-light {
        opacity: 0; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .nav-item .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-light.bg-faded .navbar-right-elements .list-inline > li > a {
        color: #fff; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-dark.bg-dark {
        background-color: #292b2c !important;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        animation: fadeInDown 0.3s ease-out forwards; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-dark.bg-dark .nav-item .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-dark.bg-dark .navbar-right-elements .list-inline > li > a {
        color: rgba(255, 255, 255, 0.7); }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-dark.bg-dark .navbar-brand .logo.logo-dark {
        opacity: 1; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-dark.bg-dark .navbar-brand .logo.logo-light {
        opacity: 0; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-dark.bg-dark .nav-item.active .nav-link {
        color: #4782d3 !important; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top.navbar-dark.bg-dark .navbar-brand {
        top: 5px; }
    .navbar.navbar-transparent.nav-sticky.nav-stick-top .active .nav-link, .navbar.navbar-transparent.nav-sticky.nav-stick-top .show .nav-link {
        color: #4782d3; }
    .nav-sticky-top.navbar-light.bg-faded {
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); }
    .nav-sticky-top.navbar-light.bg-faded .navbar-brand {
        top: 0px; }
    /**navbar light transparent**/
    .navbar-light.navbar-transparent-light {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 999;
        background-color: transparent; }
    .nav-logo-center .navbar-brand {
        position: absolute;
        left: 50%;
        margin-left: -66px;
        top: 33px !important; }
    .nav-sticky-top {
        z-index: 9999 !important; } }

/**seconday navbar**/
.navbar-seconday {
    padding: .4rem 0; }
.navbar-seconday .nav-link {
    text-transform: uppercase;
    color: #666;
    font-weight: 700;
    /*    font-family: "Montserrat", sans-serif;*/
    padding: 1rem 1rem; }
.navbar-seconday.nav-stick-top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99; }
.navbar-seconday ul li a.nav-link.active {
    color: #4782d3; }

/*
Dropdown menu styles
*/
.dropdown-toggle::after {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-family: "FontAwesome";
    font-size: 14px;
    margin-left: 7px;
    top: 5px;
    position: relative; }

.dropdown-menu {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.08);
    min-width: 13rem;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #fefefe;
    border: 0px; }
.dropdown-menu.lang-dropdown {
    width: 100px;
    min-width: 100px; }
.dropdown-menu.lang-dropdown > li > a {
    line-height: 18px !important; }

.dropdown-menu .dropdown-item, .mega-inner-nav li a {
    font-weight: 400;
    font-size: .8rem;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Open Sans", sans-serif;
    position: relative;
    text-transform: capitalize;
    left: 0; }
.dropdown-menu .dropdown-item:hover, .mega-inner-nav li a:hover {
    left: 5px; }

.dropdown .mega-inner-nav li a {
    padding-left: 0px;
    padding-right: 0px; }

.mega-menu-content p {
    font-size: 12px;
    opacity: 0.6;
    color: #aeaeae; }

/**mulit level dropdown**/
.dropdown-submenu {
    position: relative; }

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    border-radius: 0px; }

.dropdown-submenu:hover > .dropdown-menu {
    display: block; }
.dropdown-submenu:hover > a:after {
    border-left-color: #ccc; }

.dropdown-submenu.pull-left {
    float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }



.dropdown .dropdown-menu .dropdown-item, .mega-inner-nav > li > a {
    padding: 4px 20px; }
.dropdown .dropdown-menu .dropdown-item:hover, .mega-inner-nav > li > a:hover {
    background-color: transparent;
    color: #ff590d; }
.dropdown .dropdown-menu .dropdown-item:focus, .mega-inner-nav > li > a:focus {
    background-color: transparent;
    color: #4782d3; }

@media (min-width: 992px) {
    .dropdown-menu {
        margin-top: 0px;
        background-color: #fff; }
    .dropdown-menu .dropdown-item, .mega-inner-nav li a {
        color:#999; }
    .dropdown-menu.dropdown-mega-fw {
        position: absolute;
        width: 100%;
        padding: 0px 20px;
        padding-bottom: 0px; }
    .mega-menu-content {
        padding: 30px 0;
        padding-bottom: 20px; }
    .dropdown-menu, .dropdown-submenu .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        z-index: 1;
        -moz-transform: translateY(8px);
        -o-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
    .show > .dropdown-menu, .dropdown-submenu:hover > .dropdown-menu {
        opacity: 1;
        visibility: visible;
        z-index: 1000;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none; }
    .mega-menu-content .row .col-lg-3:first-child {
        border-left: 0; }
    .mega-menu-content .row .col-lg-3 {
        border-left: 1px solid rgba(255, 255, 255, 0.09);
        padding: 0px 30px; }
    .mega-menu-content .mega-title {
        color: #fff; } }
.fullscreen {
    width: 100%;
    height: 100%; }
.fullscreen .d-flex {
    height: 100%;
    position: relative; }
.bg-parallax {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
    overflow: hidden;
    /*background: linear-gradient(to top, rgba(255,255,255,0.9), rgba(255,89,13,1)) !important;
    */   }



/*
Blog post entries
*/


/***owl carousel**/
.owl-carousel .owl-item img {
    display: block;
    width: auto; }

.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    cursor: move;
    cursor: -webkit-grab;
    cursor: grab; }

.owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    background-color: transparent;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: inline-block; }

.owl-theme .owl-dots .owl-dot.active span {
    background-color: #4782d3;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.4); }

.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%; }
.owl-theme .owl-nav .owl-next {
    right: 0;
    /* top: -40px;*/
    position: absolute; }
.owl-theme .owl-nav .owl-prev {
    left: 0;
    position: absolute; }

.owl-theme .owl-nav [class*=owl-] {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 32px;
    height: 32px;
    /* background-color: transparent;*/
    opacity: 1;
    line-height: 32px;
    font-size: 18px;
    padding: 0px;
    transition: all .3s;
    -webkit-transition: all .3s; }
.owl-theme .owl-nav [class*=owl-] i {
    display: inline-block; }
.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: #4782d3;
    opacity: 1; }

.carousel-feature .icon-box {
    margin-top: 10px; }

.carousel-dark.owl-theme .owl-nav [class*=owl-] {
    border-color: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5); }
.carousel-dark.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333; }

/**full screen slider**/
.owl-carousel.fullscreen {
    position: relative;
    overflow: hidden; }
.owl-carousel.fullscreen .owl-height, .owl-carousel.fullscreen .owl-stage, .owl-carousel.fullscreen .owl-item {
    height: 100% !important;
    position: relative; }
.owl-carousel.fullscreen .item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

/*
Clients style
*/


/*
Hero templates
*/
.fullscreen {
    width: 100%;
    height: 100%; }
.fullscreen .d-flex {
    height: 100%;
    position: relative; }

@media (min-width: 992px) {
    .hero-text-style1 h1 {
        font-size: 3rem;
        line-height: 3rem; } }

/**particle hero**/

/*
Icon boxes
*/


/**half image section**/
@media (min-width: 992px) {
    .half-image-content {
        position: relative;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 30px; }
    .half-image-content .content-img {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%; }
    .half-image-content .content-img.pos-left {
        left: 0; }
    .half-image-content .content-img.pos-right {
        right: 0; } }



.testimonial p {
    /*    font-family: "Open Sans", sans-serif;*/
    font-weight: 400;
    font-style: italic; }

.testimonial h5 {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 15px; }
.testimonial h5 span {
    /*    font-family: "Open Sans", sans-serif;*/
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
    opacity: 0.5; }

.testimonial.testimonial-dark p {
    color: #636060;
    opacity: 0.8; }

.testimonial.testimonial-dark h5 {
    color: #fff; }

.testimonial .img-fluid {
    width: 128px !important;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    -webkit-border-radius: 50%; }

.testimonial-card {
    text-align: center;
    padding: 30px 20px;
    margin: 10px; }
.testimonial-card h5 {
    margin-bottom: 0; }
.testimonial-card .img-fluid {
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 60px !important; }
.testimonial-card.t-card-dark {
    background: #141414;
    color: #fff; }
.testimonial-card.t-card-dark h5 {
    color: #fff; }

/**testi col**/
.testimonial-col {
    background-color: rgba(71, 130, 211, 0.04);
    padding: 30px 20px;
    border-radius: 5px; }

.owl-theme .owl-nav [class*=owl-] {
    color: inherit; }


.footer.footer-dark {
    background: #212121; }
.footer.footer-dark h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase; }
.footer.footer-dark hr {
    border-top-color: rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

.footer .social-icons li {
    padding-right: 2px; }
pa
.footer .social-icons li:last-child {
    padding-right: 0; }
.footer .social-icons li a {
    color: #333;
    font-size: 0.9rem;
    text-transform: capitalize;   
    padding-right: 10px;

}

.footer .social-icons li a i {
    position: relative;
    border-right: 1px solid #666;
    text-align: center;
    padding-right: 10px;
    margin-right: 10px; }
.footer .social-icons li a:hover {
    color: #999; }

.footer h4 {
    display: inline-block;
    padding-right: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 0; }
.footer h4 i {
    margin-right: 8px; }

.footer p {
    /* color: rgba(255, 255, 255, 0.6); */}

.footer-list-item li {
    /* padding-left: 20px;*/
    padding-bottom: 10px;
    position: relative; }
.footer-list-item li:last-child {
    padding-bottom: 0px; }
.footer-list-item li:before {
    position: absolute;
    top: 0;
    left: 0;
    /* content: "\f105";*/
    font-family: 'FontAwesome'; }
.footer-list-item li a {
    /*   color: rgba(255, 255, 255, 0.8);*/ }
.footer-list-item li a:hover {
    /* color: #fff; */}
.footer-list-item li em {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6); }

.contact-list-item li {
    padding-left: 40px;
    position: relative;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.6);
    min-height: 32px; }
.contact-list-item li:last-child {
    padding-bottom: 0px; }
.contact-list-item li i {
    position: absolute;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    display: block; }

.footer-light.footer {
    background-color: #f5f5f5; }
.footer-light.footer h3 {
    font-size: 1rem;
    margin-bottom: 30px; }
.footer-light.footer .footer-list-item li a {
    color: #333; }
.footer-light.footer .footer-list-item li a:hover {
    color: #4782d3; }
.footer-light.footer .footer-list-item li em {
    color: #999; }
.footer-light.footer p {
    color: #666; }
.footer-light.footer .contact-list-item li {
    color: #666; }
.footer-light.footer .contact-list-item li i {
    color: #fff;
    background-color: #4782d3;
    border-color: #4782d3; }
.footer-light.footer .social-icons li a {
    color: #999; }
.footer-light.footer .social-icons li a:hover {
    color: #4782d3; }
.footer-light.footer .social-icons li a i {
    border-right: 1px solid #eee; }
.footer-light.footer h4 {
    color: #999; }

.footer-standard {
    background-color: #fff;
    font-size: 14px; }
.footer-standard h3 {
    /*  color: #fff;*/
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 1rem; }
.footer-standard .latest-news img {
    border-radius: 5px;
    width: 70px; }
.footer-standard .latest-news .media-body {
    font-size: 12px; }
.footer-standard .latest-news h5 {
    margin-bottom: 0px;
    font-size: 15px; }
.footer-standard .latest-news h5 a {
    /* color: rgba(255, 255, 255, 0.7); */}

.footer-bottomAlt {
    padding: 15px 0;
    padding-top: 20px;
    background-color: #000; }
.footer-bottomAlt span {
    display: block;
    text-align: right; }


/****sticky-footer**/
/**sticky footer*/
html.footer-sticky, .footer-sticky body {
    height: 100%; }

@media (min-width: 992px) {
    .footer-sticky .page-footer-sticky {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-height: 100vh;
        min-height: 100%; }
    .footer-sticky .page-footer-sticky .footer-sticky-wrap {
        -webkit-flex: 1 0 auto;
        -moz-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        min-height: 0;
        height: auto;
        position: relative;
        right: 0;
        min-height: 100%; }
    .footer-sticky .page-footer-sticky .footer-sticky-wrap .footer-sticky-inner {
        position: relative;
        width: 100%; } }

/*
Responsive Utilites Style (This css is removed from beta version)
*/
.hidden-xs-up {
    display: none !important; }

@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important; } }

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important; } }

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important; } }

@media (min-width: 768px) {
    .hidden-md-up {
        display: none !important; } }

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important; } }

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important; } }

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important; } }

@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important; } }

.hidden-xl-down {
    display: none !important; }

.visible-print-block {
    display: none !important; }

/**intro css (you can remove it)**/
/*
Assan Demos landing page style
*/


@media (max-width: 992px) {
    .page-demos .demos-navbar.navbar.navbar-dark.bg-dark {
        padding-top: .6rem;
        padding-bottom: .6rem; } }

/*
Template responsive style
*/
@media (max-width: 991px) {
    .dropdown-menu {
        box-shadow: none; }
    .dropdown-submenu > .dropdown-menu {
        display: block;
        padding-left: 15px; }
    .search-inline .form-control {
        font-size: 14px; }
    .search-inline button[type="submit"] {
        width: 20px;
        background-color: transparent;
        color: #333; }
    .vtimeline-icon {
        margin-left: 0px; }
    .page-timeline:before, .page-timeline:after {
        left: 23px; }
    .vtimeline-date {
        display: none; }
    .vtimeline-content {
        margin-left: 55px; }
    .mega-title {
        margin-bottom: 0px;
        padding-top: 15px; }
    .navbar-expand-lg > .container {
        padding-left: 15px;
        padding-right: 15px; }
    .nav-sticky-top {
        position: relative !important;
        height: auto !important; }
    .sticky-wrapper {
        height: auto !important; }
    .navbar-right-elements {
        top: 8px; }
    .dropdown-submenu > .dropdown-menu {
        margin-left: 0px; }
    .navbar.navbar-dark .navbar-right-elements .list-inline > li > a {
        color: #fff; } }

@media all and (max-width: 767px) {
    .hero-text-style1 .h1, .fullscreen h2, .fullscreen h1 {
        font-size: 1.8em !important;
        line-height: 1.31818182em; }
    h1, .h1 {
        font-size: 2.35714em !important;
        line-height: 1.36364em !important; }
    h2, .h2 {
        font-size: 1.78571em !important;
        line-height: 1.5em !important; 
    }
    h3,
    .h3 {
        font-size: 1.35714em !important;
        line-height: 1.85714em !important; }
    .lead {
        font-size: 1.35714em !important;
        line-height: 1.36842em !important; 
    } 
}

@media (max-width: 576px) {
    .container {
        width: 100%; 
    } 
}
.list-group {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
#formdiv {
    text-align: center;
}
#file {
    color: green;
    padding: 5px;
    border: 1px dashed #123456;
    background-color: #f9ffe5;
}
#img {
    width: 17px;
    border: none;
    height: 17px;
    margin-left: -20px;
    margin-bottom: 191px;
}
.upload {
    width: 100%;
    height: 30px;
}
.previewBox {
    text-align: center;
    position: relative;
    width: 150px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 20px;
    float: left;
}
.previewBox img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border: 1px solid rgb(232, 222, 189);
}
.delete {
    color: red;
    font-weight: bold;
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 20px;
    height:  20px;
    border-radius: 50%;
    background: #ccc;
}

/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    font-size:16px;
    /*-webkit-clip-path: polygon(0% 0%, 93% 0, 100% 50%, 93% 100%, 0% 100%);
clip-path: polygon(0% 0%, 93% 0, 100% 50%, 93% 100%, 0% 100%);*/


}
.nav-tabs .nav-link ::before{
    background:url(../img/circle_outline.png);
    background-position:center center;
    background-repeat:no-repeat;
    height:100px;
}

list-group list-group-horizontal a{
    color:#000;
}
.list-group-item {
    padding: .75rem .65rem;
}


.textbox{
    outline:none;
    border: none;
}
.main-content{
    margin-top: 10%;
}
/*index page*/
.details{
    font-size: 15px;

}
.img-profile{
    border:solid 3px #fc5e15;
    padding:2px;
}
.edit-icons{
    /* right: 0; */
    position: absolute;
    font-size: 22px;
    left: 72%;
    top: 10%;
    background-color: #fc5e15;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;    
}
.icons{
    font-size: 20px !important;    
}
.rounded{
    border-radius:50% !important;
}

.btn-shrap{
    border-radius:0 2px 2px 0 !important;
}
.input-group-search {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 40%;
    margin: 0 atuo;
    left: 19%;
}
.input-group-searchsection{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 30%;
    margin: 0 atuo;
    left: 1%;

}
.border-radius{
    border-radius:2px;
}

.btn-light{
    background-color: #fff !important;
}
.bg-warning {
    background-color: #ff590d!important;
}
.badgetop{
    position: relative;
    top: -15px;
    left: -16px;
}
.custom-border {
    position: relative;
}
.custom-border:after {
    content: " ";
    position: absolute;
    border-left: 1px #fff solid;
    top: 45%;
    right: 0;
    height: 15%;
    margin-top: auto;
    margin-bottom: auto;
}
.custom-border-black {
    position: relative;
}
.custom-border-black:after {
    content: " ";
    position: absolute;
    border-left: 1px #999 solid;
    top: 35%;
    right: 0;
    height: 45%;
    margin-top: auto;
    margin-bottom: auto;
}
.custom-tabs {
    position: relative;
}
.custom-tabs::before {
    content: url(../images/arrow.png);
    position: absolute;
    right: 0;
    height:50px;
    top:5px;
    bottom:1px;
    font-size:36px;
}
.nav-tabs {

    background: linear-gradient(#f3f3f3, #fff, #f3f3f3);
}
nav-tabs .nav-link:hover {
    border-color: transparent !important; 
}


.custom-border-warning:after {
    content: " ";
    position: absolute;
    border-left: 1px #fc5e15 solid;
    top: 35%;
    right: 0;
    height: 40%;
    margin-top: auto;
    margin-bottom: auto;
}
.nav-link {
    display: block;
    padding: .8rem 4.3rem;
}
@media all and (max-width: 320px) {
    .input-group-search {
        width: 100%;
        left: 0;
    }
}
@media all and (max-width: 360px) {
    .input-group-search {
        width: 100%;
        left: 0;
    }
}
@media all and (max-width: 640px) {
    .input-group-search {
        width: 100%;
        left: 0;
    }
}
/*custom css*/