.invoice-title-text{
    float: right;
    padding-right: 0px;
   
}
.invoice-title-text_border{
     border: 1px solid black;
     padding: 3px 70px;
     font-size: 15px;
     font-weight: bold;
}
.table-condensed td{
    border:0.5px solid #ccc;
    border-top:none;
    border-bottom:none;
}
.summary td{
    border:none !important;    
}